[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pylint = "*"
pipenv = { git = "https://github.com/pypa/pipenv.git"}
coverage = "*"

[requires]
python_version = "3.6"
